.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/26378511-abstrato-futurista-localizacao-ponto-gps-pin-para-digital-mapa-conceito-em-sombrio-azul-fundo-ilustracao-vetor.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}
 
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 10px;
}
 
.campo {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}
 
.botao {
    background-color: var(--roxo-escuro);
    color: var(--cinza-claro);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
 
.titulo {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}