.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Definindo a largura do formulário */
    max-width: 600px; /* Definindo a largura máxima do formulário */
    margin: 0 auto; /* Centralizando o formulário na página */
}

.campo {
    margin-bottom: 15px; /* Aumentando o espaçamento entre os campos */
    padding: 12px; /* Aumentando o preenchimento dos campos */
    border: 1px solid var(--cinza-escuro);
    border-radius: 6px;
    background-color: var(--cinza-claro);
}

.botao {
    background-color: var(--roxo-escuro);
    color: var(--branco);
    padding: 12px 20px; /* Ajustando o preenchimento do botão */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; /* Ajustando o tamanho da fonte do botão */
}

.mensagem {
    color: red;
    font-weight: 600;
    margin-bottom: 10px;
}

.titulo {
    color: var(--roxo-escuro);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.campoCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    margin-right: 10px;
}
