.conteiner {
    background-color: var(--roxo-escuro);
    color: #ffff;
    display: flex;
    width:300px;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 30px;
    transition: transform .25s;
}

/* dispara o evente quando o cursor passar em cima do conteiner */
.conteiner:hover {
    /* definiu o tipo de efeito de escala e o tempo que ocorre que ocorre em 025 segundos apresenta*/
    transform: scale(1.025);
    /* sombra que apresenta juntamente com os efeitos descritos */
    box-shadow: 0px 0px 10px var(--roxo-claro);
}
