.conteiner {
    display: flex;
    flex-direction: column;
}

.conteiner img {
    width: 100%;
    border-radius: 8px;
}

.conteiner figcaption {
    padding: 12px 0px;
    text-align: center;
    font-size: 1.2rem;
}

.conteiner p {
    padding: 6px 0px;
    text-align: justify;
}