.conteiner {
    background-color: #fff;
    padding: 20px; /* Adicionando um espaçamento interno */
    border-right: 1px solid var(--cinza-claro); /* Adicionando uma borda à direita */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Aumentando o espaçamento abaixo do cabeçalho */
}

.icon {
    margin-right: 10px; /* Adicionando um espaçamento à direita do ícone */
}

.title {
    font-size: 1.7rem; /* Ajustando o tamanho do título */
    color: var(--roxo-escuro);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--cinza-claro);
    color: var(--roxo-escuro);
    margin-bottom: 18px;
    padding: 8px;
    border-radius: 2px solid var(--roxo-escuro);
    border-radius: 8px;

    transition: color .5s background-color .5s;
}
 
.botao:hover{
    background-color: var(--roxo-escuro);
    color: var(--cinza-claro);
}
 