.conteiner {
    background-color: #fff;
}

.imagemCabecalho {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2.5rem;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid  var(--roxo-escuro);
    margin-bottom: 1rem;
}