/* Mapeia a Tela*/
.gridConteiner {
    /* abre espaço entre as linhas e colunas  */
    gap: 3px; 

    display: grid;
    /* Usar o Vh que é a forma de definir a altura de forma mais precisa*/
    height: 100vh; 
    /* A largura em 100% é precisa, diferente da altura*/
    

    /* quantidade de colunas e tamanho das mesmas
    fr ou 1 fração é o resto */
    grid-template-columns: 250px 1fr;
    /* quantidade de linhas e tamanho das mesmas
    fr ou 1 fração é o resto */
    grid-template-rows: 100px 1fr;

    /* no total são duas linhas e duas colunas */ 


    /* recebe um vetor para informar o que as duas linhas e duas colunas vão conter*/
    grid-template-areas: 
        'cabecalho cabecalho'
        'lateral conteudo';
}

header {
    /* estilização do cebecalho */
    grid-area: cabecalho;
}

aside {
    /* estilização da lateral */
    grid-area: lateral;
}

main {
       /* estilização do conteudo */
    grid-area: conteudo;
}
